<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav__logo">

            <a href="#">
                <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><img
                        src="assets/nebula.jpg"
                        style="width:100px; height: 120px ; border-radius: 50%; border: 2px solid black" alt="Noimage">
                    &nbsp;Learning</h2>
            </a>
        </div>
        <ul class="nav__links">
            <li class="link"><a href="#">
                    <h4>Home</h4>
                </a></li>&nbsp;
            <li class="link"><a href="#">
                    <h4>Services</h4>
                </a></li>&nbsp;
            <li class="link"><a href="#">
                    <h4>About Us</h4>
                </a></li>&nbsp;
            <li class="link"><a href="#">
                    <h4>Contact Us</h4>
                </a></li>&nbsp;
            <li class="link"><a href="#" class="nav__btn">Register</a></li>
        </ul>
    </nav>
    <section class="container">
        <div class="content__container">
            <h1 style="color: darkgray;">
                Welcome to<br />
                <span class="heading__1">
                    <h1 style="font-family:Arial, Helvetica, sans-serif;"><b>Nebula Nexus</b></h1>
                </span>
                <span class="heading__2">
                    <h1 style="font-family: Arial, Helvetica, sans-serif;"><b>Innovations</b></h1>
                </span>
            </h1>
            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                <b> "Welcome to our educational hub, where we believe
                    in a hands-on approach to learning. Our programs go
                    beyond theory, focusing on practical knowledge that
                    prepares students for real-world challenges. Immerse yourself
                    in an educational experience that empowers you with the skills
                    needed to thrive in today's dynamic industries."</b>
            </p>


            <button type="button" class="btn btn-secondary" id="btn">
                <h5>About Us</h5>
            </button>

        </div>
        <div class="image__container">

            <img src="assets/student image.jpg" alt="header" />

        </div>
    </section>
</body>

</html>